<jb-search-bar-jobs></jb-search-bar-jobs>

<div class="container jobs-list" infinite-scroll
            [infiniteScrollDistance]="1"
            [infiniteScrollThrottle]="300"
            (scrolled)="onScroll()">
    <div class="row">
        <div class="type-search hidden-sm hidden-xs" *ngIf="!isSearch">
            <div class="col-sm-8">
                <a [routerLink]="['/jobs']" [class.active]="!type && !city && !query" (click)="clearCache()">Tất cả</a>
                <a [routerLink]="['/jobs']" [queryParams]="{ type: 'fulltime' }" [class.active]="type === 'fulltime'" (click)="clearCache()">Full-time</a>
                <a [routerLink]="['/jobs']" [queryParams]="{ type: 'parttime' }" [class.active]="type === 'parttime'" (click)="clearCache()">Part-time</a>
                <a [routerLink]="['/jobs']" [queryParams]="{ type: 'intern' }" [class.active]="type === 'intern'" (click)="clearCache()">Thực tập</a>
            </div>
        </div>

        <div class="text-center" *ngIf="isSearch" style="margin-bottom: 3em;">
            <h3>Kết quả tìm kiếm: {{totalSearch}} kết quả</h3>
        </div>

        <div class="main-content">
            <jb-job-item *ngFor="let job of jobs" [job]="job"></jb-job-item>
        </div>
    </div>
    <!--<div class="load_more" *ngIf="jobs && isMore && !isLoading">
        <button class="button" (click)="onLoadMore()">Tải thêm</button>
    </div>-->
    <div class="load_more" *ngIf="jobs && isLoading">
        <button class="button" disabled ><i class="fa fa-spinner fa-spin"></i> Đang tải</button>
    </div>
    <div class="load_more" *ngIf="jobs && !isMore && !isSearch">
        <button class="button" disabled>Đã hết danh sách</button>
    </div>
</div>