@import "../../shared/less/variables.less";

.load_more {
    margin-top: 2em;
    text-align: center;
    .button {
        border: 2px solid @highlight_4;
        outline: none;
        padding: 1em 3.5em;
        text-align: center;
        background: transparent;
        border-radius: 2em;
        color: @highlight_4;
        font-size: 1.2em;
    }
}