<div class="row">
    <jb-job-item-admin *ngFor="let job of jobs" [job]="job"></jb-job-item-admin>
</div>

<div class="row text-center">
    <div class="col-sm-12">
        <div class="dataTables_paginate paging_simple_numbers" id="dataTables-example_paginate" *ngIf="jobs && isMore && !isLoading">
            <button class="btn btn-large btn-default" (click)="onLoadMore()">Tải thêm</button>
        </div>
        <div class="dataTables_paginate paging_simple_numbers" id="dataTables-example_paginate" *ngIf="jobs && isLoading && isMore">
            <button class="btn btn-large btn-default" disabled ><i class="fa fa-spinner fa-spin"></i> Đang tải</button>
        </div>
    </div>
</div>