<div class="col-sm-12 item-wrapper" id="{{job.$key}}">
    <a [routerLink]="[job.$key, job.url]">
        <div class="panel panel-default">
            <div class="panel-body item clearfix">
                <div class="image_wrapper">
                    <img [src]="job.logo" [alt]="job.companyName" *ngIf="job.logo">
                    <img [src]="company?.logoUrl" [alt]="job.companyName" *ngIf="!job.logo && company?.logoUrl">
                </div>
                <div class="info">
                    <span class="job_title">{{job.jobTitle}}</span>
                    <span class="job_info">{{job.companyName}} <span>&bull;</span> {{job.city}} <span>&bull;</span> {{job.deadline | deadlineDate}}</span>
                </div>
                <span class="job_type {{job.jobType}} hidden-xs">{{job.jobType | jobTypeName}}</span>
            </div>
        </div>
    </a>
</div>