<div class="custom-navbar">
    <nav class="navbar navbar-default navbar-custom">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars" aria-hidden="true"></i>
            </button>
            <a [routerLink]='["/"]' class="navbar-brand">
                <img src="assets/images/smile.svg" alt="Workiwi">
            </a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li><a [routerLink]="['/jobs']">Công việc</a></li>
                    <li class="dropdown visible-xs visible-sm">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Việc theo thể loại <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a [routerLink]="['/jobs']" [queryParams]="{ type: 'fulltime' }">Full-time</a></li>
                            <li><a [routerLink]="['/jobs']" [queryParams]="{ type: 'parttime' }">Part-time</a></li>
                            <li><a [routerLink]="['/jobs']" [queryParams]="{ type: 'intern' }">Thực tập</a></li>
                        </ul>
                    </li>
                    <li><a href="#">Giới thiệu</a></li>
                    <li class="hidden-sm hidden-xs">
                        <p class="navbar-btn">
                            <a href="http://bit.ly/dangViecWorkiwi" class="btn btn-default">Đăng việc</a>
                        </p>
                    </li>
                    <li class="hidden-lg hidden-md">
                        <a href="http://bit.ly/dangViecWorkiwi">Đăng việc</a>
                    </li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
        <ng2-slim-loading-bar [color]="'#fd7576'"></ng2-slim-loading-bar>
    </nav>
    
</div>
