<header class="main_header clearfix">
    <div class="logo">
        <a [routerLink]='["/"]'>
            <img src="assets/images/smile.svg" alt="Workiwi">
            <h1>Work<span>.iwi</span></h1>
        </a>
        
    </div>
    <nav class="main-nav">
        <a [routerLink]="['/jobs']">Tất cả</a>
        <a [routerLink]="['/jobs']" [queryParams]="{ type: 'fulltime' }">Full-Time</a>
        <a [routerLink]="['/jobs']" [queryParams]="{ type: 'parttime' }">Part-Time</a>
        <a href="#" class="btn btn-default custom_btn">Đăng việc</a>
    </nav>
</header>