<div class="jumbotron specialjum search-bar">
    <div class="over container body-content">
        <div class="row">
            <div class="col-sm-6 col-sm-offset-3">
                <form [formGroup]="form">
                    <div class="input-group">
                        <input 
                            type="text" 
                            class="form-control search-box" 
                            placeholder="Nhập tên công việc hoặc từ khóa..." 
                            formControlName="q" 
                            (keyup.enter)="onSearch()"
                        >
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button" (click)="onSearch()">Tìm kiếm</button>
                        </span>
                    </div>
                </form>
            </div><!-- /.col-lg-6 -->
        </div><!-- /.row -->
    </div>
</div>