@import "../../shared/less/variables.less";

.search-bar {
    margin-top: -20px;
    background-image: url(assets/images/search2.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 300px;
    display: flex;
    align-items: center;
    .search-box {
        border: none;
        height: 60px;
        font-size: 1.5rem;
        font-weight: 400;
        letter-spacing: 1px;
        padding-left: 20px;
        padding-right: 20px;
    }
    .btn-default {
        padding-left: 20px;
        padding-right: 20px;
        border: none;
        height: 58px;
        background: @light-pink;
        color: white;
        font-size: 1.6rem;
        font-weight: 400;
        letter-spacing: 1.5px;
        &:hover, &:active {
            background: darken(@light-pink, 20);
        }
    }
    .form-group {
        margin-bottom: 0;
        @media(max-width:767px) {
            margin-bottom: 10px;
        }
    }
}