<!--<div class="jumbotron specialjum search-bar">
    <div class="over container body-content">
        <div class="row">
            <div class="col-sm-6 col-sm-offset-3">
                <form [formGroup]="form">
                    <div class="input-group">
                        <input 
                            type="text" 
                            class="form-control search-box" 
                            placeholder="Nhập tên công việc hoặc từ khóa..." 
                            formControlName="q" 
                            (keyup.enter)="onSearch()"
                        >
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button" (click)="onSearch()">Tìm kiếm</button>
                        </span>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>-->
<div class="jumbotron search-bar">
    <div class="container">
        <div class="row search-bar-outter">
            <div class="col-sm-12">
                <div class="row search-bar-inner">
                    <form [formGroup]="form">
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label class="sr-only">Từ khóa</label>
                                <input type="text" class="form-control search-box" placeholder="Nhập tên công việc hoặc từ khóa..." formControlName="keyword">
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label class="sr-only">Hình thức</label>
                                <select class="form-control search-box" formControlName="jobType">
                                    <option value="" disabled hidden>Hình thức công việc</option>
                                    <option *ngFor="let jobType of jobTypesName" value="{{jobType}}">{{jobType | jobTypeName}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label class="sr-only">Thành phố</label>
                                <select class="form-control search-box" formControlName="city">
                                    <option value="" disabled hidden>Thành phố</option>
                                    <option *ngFor="let city of citiesName" value="{{city}}">{{city}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <button class="btn btn-block btn-default" (click)="onSearch()">Tìm kiếm</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
