<div class="jumbotron specialjum search-bar">
    <div class="over container body-content">
        <div class="row">
            <div class="col-sm-10 col-sm-offset-1">
                <form [formGroup]="form">
                    <div class="form-group">
                        <div class="col-sm-6">
                        <input 
                            type="text" 
                            class="form-control search-box" 
                            placeholder="Nhập tên công việc hoặc từ khóa..." 
                            formControlName="q" 
                            (keyup.enter)="onSearch()"
                        >
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-4">
                        <input 
                            type="text" 
                            class="form-control search-box" 
                            placeholder="Tìm theo tỉnh thành..." 
                            auto-complete 
                            [source]="cities" 
                            no-match-found-text="Không tìm thấy" 
                            formControlName="city"
                        />
                        </div> 
                    </div>
                    <div class="col-sm-2 text-center">
                        <button class="btn btn-default" type="button" (click)="onSearch()">Tìm kiếm</button>
                    </div>
                    
                </form>
            </div><!-- /.col-lg-6 -->
        </div><!-- /.row -->
    </div>
</div>