<form [formGroup]="form" autocomplete="off" novalidate>
    <div class="col-lg-6">
        <h3>Thông tin công việc</h3>

        <div class="form-group">
            <label>Tên công việc</label>
            <input class="form-control" formControlName="jobTitle">
        </div>

        <div class="form-group">
            <label>Tên công ty</label>
            <input class="form-control" formControlName="companyName">
        </div>

        <div class="form-group">
            <label>Địa điểm</label>
            <input class="form-control" formControlName="city">
        </div>

        <div class="form-group">
            <label>Địa chỉ làm việc</label>
            <input class="form-control" formControlName="address">
        </div>

        <div class="form-group">
            <label>Thể loại công việc</label>
            
            <div class="radio">
                <label><input type="radio" value="fulltime" formControlName="jobType">Full-time</label>
            </div>

            <div class="radio">
                <label><input type="radio" value="parttime" formControlName="jobType">Part-time</label>
            </div>
            
            <!--<div class="radio">
                <label><input type="radio" value="intern" formControlName="jobType">Thực tập</label>
            </div>-->
            
        </div>

        <div class="form-group">
            <label>Deadline</label>
            <input type="text" class="form-control" formControlName="deadline">
        </div>

        <div class="form-group">
            <label>Mức lương</label>
            <input class="form-control" formControlName="wage">
        </div>

        <div class="form-group">
            <label>Mô tả công việc</label>
            <ckeditor formControlName="description"></ckeditor>
        </div>
        
        <div class="form-group">
            <label>Cách thức ứng tuyển</label>
            <ckeditor formControlName="applyMethod"></ckeditor>
        </div>

        <div class="form-group">
            <label>Cách thức ứng tuyển</label>
            <input class="form-control" formControlName="url">
        </div>

        <!--<div class="form-group">
            <label>Hiển thị</label>
            
            <div class="radio">
                <label><input type="radio" [value]="true" formControlName="active">Có</label>
            </div>

            <div class="radio">
                <label><input type="radio" [value]="false" formControlName="active">Không</label>
            </div>
        </div>-->

    </div>

    <hr class="hidden-md hidden-lg">

    <div class="col-lg-6">
        <h3>Thông tin công ty</h3>
        <div class="form-group">
            <label>Giới thiệu công ty</label>
            <ckeditor formControlName="companyDescription"></ckeditor>
        </div>
        <div class="form-group">
            <label>Ảnh logo</label>
            <input type="file" (change)="onFileChange($event)">
        </div>
        <div class="form-group">
            <input class="form-control" formControlName="logo">
            <br>
            <img [src]="this.form.controls['logo'].value" id="logo_img">
        </div>
    </div>
</form>