<form [formGroup]="form" autocomplete="off" novalidate>
    <div class="col-lg-12">
        <h3>Thông tin công việc</h3>

        <div class="form-group">
            <label>Tên công việc</label>
            <input class="form-control" formControlName="jobTitle">
        </div>

        <div class="form-group">
            <label>Công ty</label>
            <input class="form-control" formControlName="companyName" (keyup.space)="onSearchName(companyNameField)" #companyNameField>
            <div class="company-name-hash-tag" *ngIf="companyHashTagsCount > 0 && companyHashTags">
                <button type="button" class="btn btn-default" *ngFor="let companyHashTag of companyHashTags" (click)="addCompany(companyHashTag)">#{{companyHashTag._source.name}}</button>
            </div>
            <input class="form-control" formControlName="companyKey" type="hidden">
        </div>

        <div class="form-group">
            <label>Ngành nghề - lĩnh vực</label>
            <select class="form-control" formControlName="field">
                <option *ngFor="let jobField of jobFields" value="{{jobField}}">{{jobField}}</option>
            </select>
        </div>

        <div class="form-group">
            <label>Thành phố</label>
            <select class="form-control" formControlName="city">
                <option *ngFor="let city of citiesName" value="{{city}}">{{city}}</option>
            </select>
        </div>

        <div class="form-group">
            <label>Thể loại công việc</label>
            
            <div class="radio" *ngFor="let jobType of jobTypesName">
                <label><input type="radio" value="{{jobType}}" formControlName="jobType">{{jobTypeName(jobType)}}</label>
            </div>
            
        </div>

        <div class="form-group">
            <label>Deadline</label>
            <input type="text" class="form-control" formControlName="deadline">
        </div>

        <div class="form-group">
            <label>Mức lương</label>
            <input class="form-control" formControlName="wage">
        </div>

        <div class="form-group">
            <label>Mô tả công việc</label>
            <ckeditor formControlName="description" [config]="{extraPlugins: 'divarea'}"></ckeditor>
        </div>
        
        <div class="form-group">
            <label>Cách thức ứng tuyển</label>
            <ckeditor formControlName="applyMethod" [config]="{extraPlugins: 'divarea'}"></ckeditor>
        </div>

        <div class="form-group">
            <label>Url</label>
            <input class="form-control" formControlName="url">
        </div>
    </div>
</form>