<div class="container job_detail">
    <div class="row">
        <div class="col-xs-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="job_detail_title">{{job?.jobTitle}}</h3>
                    <h4 class="job_detail_location"><i class="fa fa-building" aria-hidden="true"></i> tại {{job?.companyName}}, {{job?.city}}</h4>
                    <a simplePageScroll href="#apply" class="btn btn-success job_detail_apply_lg hidden-xs"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Ứng tuyển</a>
                    <a simplePageScroll href="#apply" class="btn btn-success job_detail_apply_sm visible-xs"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Ứng tuyển</a>
                    <table class="job_detail_brief">
                        <tbody>
                            <tr>
                                <td>LOẠI CÔNG VIỆC</td>
                                <td>{{getJobType(job?.jobType)}}</td>
                            </tr>
                            <tr>
                                <td>DEADLINE</td>
                                <td>{{job?.deadline | deadlineDate}}</td>
                            </tr>
                            <tr>
                                <td>MỨC LƯƠNG</td>
                                <td>{{job?.wage}}</td>
                            </tr>
                            <tr>
                                <td>ĐỊA ĐIỂM LÀM VIỆC</td>
                                <td>{{job?.address}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="panel-body">
                    <div [innerHTML]="job?.description"></div>
                    <h3 id="apply">Cách thức ứng tuyển</h3>
                    <div [innerHTML]="job?.applyMethod"></div>
                    <hr>
                    <div class="share-button-area text-center">
                        <h3>Chia sẻ công việc này trên mạng xã hội</h3>
                        <br>
                        <div class="row">
                            
                            <!--<share-button [button]='facebookButton' [description]="description" [image]="image" [title]="title"></share-button>
                            <share-button [button]='googlePlusButton' [description]="description" [image]="image" [title]="title"></share-button>
                            <share-button [button]='linkedButton' [description]="description" [image]="image"></share-button>
                            <share-button [button]='twitterButton' [title]="title" [description]="description" [image]="image"></share-button>-->

                            <share-button [button]='facebookButton' [description]="description" [title]="title"></share-button>
                            <share-button [button]='googlePlusButton' [description]="description" [title]="title"></share-button>
                            <share-button [button]='linkedButton' [description]="description" ></share-button>
                            <share-button [button]='twitterButton' [title]="title" [description]="description" ></share-button>
                        
                        </div>
                        <br>
                    </div>
                </div>

                <div class="panel-footer" *ngIf="job?.companyDescription">
                    <h3>Giới thiệu về công ty</h3>
                    <p class="job_detail_logo">
                        <img [src]="job?.logo" [alt]="job?.companyName">
                        <span [innerHTML]="job?.companyDescription"></span>
                    </p>
                </div>

                <div class="panel-footer" *ngIf="!job?.companyDescription && (company?.name || company?.comDes)">
                    <h3>Giới thiệu về công ty</h3>
                    <p class="job_detail_logo">
                        <img [src]="company?.logoUrl" [alt]="job?.companyName">
                        <span [innerHTML]="company?.comDes"></span>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>