/* You can add global styles to this file, and also import other style files */
@import "./app/shared/less/variables.less";

html {
    height: 100%
}

body {
    font-family: 'Source Sans Pro', sans-serif;
    height: 100%;
    background: #F6F6F6;
}

.clearfix:before, .clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.border {
  height: 6px;
  border: 0;
  background-color: red;
  background-image:
    linear-gradient(
      to right, 
      @highlight_1,
      @highlight_1 25%,
      @highlight_2 25%,
      @highlight_2 50%,
      @highlight_3 50%,
      @highlight_3 75%,
      @highlight_4 75%,
      @highlight_4 100%,
      @highlight_4 100%
    );

  -webkit-background-size: 50% 100%;
  -moz-background-size: 50% 100%;
  background-size: 50% 100%;
}
.wrapper {
    padding-bottom: 5em;
    width: 900px;
    max-width: 90%;
    margin: 0 auto;
}

a {
    cursor: pointer;
}

.inner-info-detail {
    color: #5F6977;
    font-size: 1.8rem;
    h3:first-child {
        margin-top: 0;
    }
    h3, h3 strong {
        margin-top: 25px;
        margin-bottom: 25px;
        font-size: 2.2rem;
        font-weight: 600;
        color: #474747;
    }
}

.social-btn {
    background: none;
    border: none;
    img {
        width: 38px;
    }
}

.fulltime {
    color: @highlight_1;
    &:before {
        background: @highlight_1;
    }
}
.parttime {
    color: @highlight_3;
    &:before {
        background: @highlight_3;
    }
}
.intern {
    color: darken(@highlight_2, 10);
    &:before {
        background: darken(@highlight_2, 10);
    }
}

.slim-loading-bar {
    position: fixed;
    margin: 0;
    padding: 0;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99999;
}


.collapsing {
    position: relative;
    height: 0;
    overflow: hidden;
    -webkit-transform: translateZ(0);
    -webkit-transition: height 0.35s ease 1s linear;
    -moz-transition: height 0.35s ease 1s linear;
    -o-transition: height 0.35s ease 1s linear;
    -ms-transition: height 0.35s ease 1s linear;
    transition: height 0.35s ease 1s linear;
    -webkit-transition: height 0.35s ease;
    transition: height 0.35s ease;
}
